---
import '../styles/global.css'; 
import LinkPage from "../layouts/LinkPage.astro";
import NavBar from "../components/NavBar.astro";

const posts = Object.values(
    import.meta.glob('./*.md', { eager: true }),
);
---

<!doctype html>
<html lang="en">
    <head>
        <title>Index | Tuneage</title>
    </head>
    <body>
        <div>
            <NavBar />
        </div>
    </body>
</html>
