---
//import astroLogo from "../assets/astro.svg";
//import background from "../assets/background.svg";
---

<div>
	<!--
	<a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=nh-2zC1xcEY&list=PL-Ha54QFPaStOB3U0vNJga8jg6YNYi5bK&index=2">
		E. Gadd's Lab (1HR Looped) - Luigi's Mansion Music
	</a>
-->
</div>

<style>
</style>
