---
const posts = Object.entries(
    import.meta.glob('../pages/*.md', { eager: true }),
).map(([filepath, post]: [string, any]) => ({
  slug: filepath.split('/').pop()?.replace('.md', ''),
  title: post.frontmatter.title,
}));
const { to } = Astro.props;
---

<header>
    {posts.map((post) =>
    <a href={`/tuneage/${post.slug}`}>{post.title}</a>
    )}
</header>