---
const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Tuneage</title>
	</head>
	<body>
		<a href="https://www.youtube.com/watch?v=nh-2zC1xcEY&list=PL-Ha54QFPaStOB3U0vNJga8jg6YNYi5bK&index=2" target="_blank"><img src="http://img.youtube.com/vi/732eaa02-453b-435b-9d89-b022ac7b57f10.jpg" 
alt="IMAGE ALT TEXT HERE" width="240" height="180" border="10" /></a>
		<!--<slot />-->
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	.flex-row {
		display: flex;
		flex-direction: row;
	}

	.flex-col {
		display: flex;
		flex-direction: column;
	}
</style>
