---
import '../styles/global.css'; 
const {frontmatter} = Astro.props;
import NavBar from "../components/NavBar.astro";
---
<html>
    <head>
        <title>{frontmatter.title} | Tuneage</title>
    </head>
    <body>
        <NavBar />
        <hr />
        <main>
        <!--<h2>{frontmatter.title}</h2>-->
            <slot />
        </main>
    </body>
</html>