---
import '../styles/global.css'; 
const {frontmatter} = Astro.props;
import NavBar from "../components/NavBar.astro";
---
<html>
    <head>
        <title>{frontmatter.title} | Tuneage</title>
    </head>
    <body>
        <NavBar />
        <hr />
        <h1>{frontmatter.title}</h1>
        <slot />
    </body>
</html>